<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text" *ngIf="pageMode == 'Add'">
                Add new project
              </h3>
              <h3 class="m-portlet__head-text" *ngIf="pageMode == 'Edit'">
                Edit project
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a (click)="deleteProduct()" class="btn btn-danger m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10" *ngIf="product.id">
              <span>
                <i class="la la-remove"></i>
                <span>Delete</span>
              </span>
            </a>
            <a (click)="saveProduct()" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-check"></i>
                <span>Save</span>
              </span>
            </a>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Project type</label>
                <input type="email" class="form-control m-input" [(ngModel)]="product.productType" placeholder="Enter project type">
              </div>
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Project type ID</label>
                <input type="email" class="form-control m-input" [(ngModel)]="product.product_TypeID" placeholder="Enter project type ID">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <h5>Project Image</h5>
                <div class="row">
                  <img id="product_image" style="height: 150px;" [src]="product.imgUrl" onerror="this.src='/assets/img/file.png';" />
                </div>
                <div class="row">
                  <div class="col-12 align-middle upload-btn-wrapper">
                    <button id="btn-upload-product" class="btn-upload" type="button">Upload Image</button>
                    <input type='file' id="img_product" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>