<!-- BEGIN: Left Aside -->
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
  <!-- BEGIN: Aside Menu -->
  
  <app-menu></app-menu>
  <!-- END: Aside Menu -->
</div>

<!-- END: Left Aside -->