/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.m-brand {
    width: 240px!important;
}
@media (min-width: 1025px) {
    .m-aside-left {
        width: 240px!important;
    }
}
