﻿@{
    ViewData["Title"] = "Home Page";
}

@{
    var information = (Information)ViewData["HomeInfo"];
}

@{
    List<Educations> listEducation = new List<Educations>(ViewData["EducationInfo"] as List<Educations>);
}

@{
    List<Experiences> listExperience = ViewData["ExperienceInfo"] as List<Experiences>;
}

@using My_CV.Service.Models

@* done *@
<section id="about-me" class="section section-no-border section-parallax custom-section-padding-1 custom-position-1 custom-xs-bg-size-cover parallax-no-overflow m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="images/@information.CoverImage1Url">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 custom-sm-margin-bottom-1">
                <img src="images/@information.AvatarUrl" class="img-fluid custom-border custom-image-position-2 custom-box-shadow-4" />
            </div>
            <div class="col-lg-6 col-xl-5">
                <h1 class="text-color-primary custom-font-size-1">@information.Name</h1>
                <p class="text-color-light font-weight-normal custom-font-size-2 custom-margin-bottom-1">The new graduate at @listEducation[0].Tittle</p>
                <span class="custom-about-me-infos">
                    <span class="custom-text-color-1 text-uppercase">
                        <strong class="text-color-light">Previous: </strong>
                        @listExperience[listExperience.Count - 1].postionWorked()
                        <a data-hash href="#experience" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ml-2">View More</a>
                    </span>
                    <span class="custom-text-color-1 text-uppercase">
                        <strong class="text-color-light">Education: </strong>
                        @listEducation[listEducation.Count - 1].Tittle
                        <a data-hash href="#education" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ml-2">View More</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <ul class="social-icons custom-social-icons">
        <li class="social-icons-facebook">
            <a href="http://www.facebook.com/banghi9x" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
    </ul>
</section>

@* done *@
<div class="custom-about-me-links background-color-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center custom-xs-border-bottom p-0">
                <a data-hash href="#say-hello" class="text-decoration-none">
                    <span class="custom-nav-button text-color-dark">
                        <i class="icon-earphones-alt icons text-color-primary"></i>
                        Contact
                    </span>
                </a>
            </div>
            <div class="col-lg-2 text-center custom-xs-border-bottom p-0">
                <a data-hash href="#say-hello" class="text-decoration-none">
                    <span class="custom-nav-button custom-divisors text-color-dark">
                        <i class="icon-envelope-open icons text-color-primary"></i>
                        Send Message
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

@* done *@
<section class="section section-no-border background-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                @{
                    @await Html.PartialAsync("Partial/HomeInformation.cshtml", information)
                }

                <a id="aboutMeMoreBtn" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1" href="#">View More</a>

            </div>
        </div>
    </div>
</section>

@* done *@
<section id="experience" class="section section-secondary section-no-border m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Experience</h2>
                <section class="timeline custom-timeline" id="timeline">
                    <div class="timeline-body">
                        @foreach (var item in listExperience)
                        {
                            @await Html.PartialAsync("Partial/HomeExperience.cshtml", item)
                        }
                        <div class="timeline-bar"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

@* done *@
<section id="education" class="section section-no-border custom-background-color-1 m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-0">Education</h2>
                <div class="owl-carousel nav-bottom custom-dots-style-1 mb-0" data-plugin-options="{'items': 1, 'loop': false, 'dots': true, 'nav': false}">
                    @for (int i = 0; i < listEducation.Count; i += 2)
                    {
                        <div class="row">
                            @await Html.PartialAsync("Partial/HomeEducation.cshtml", @listEducation[i])

                            @if ((i + 1) < listEducation.Count)
                            {
                                @await Html.PartialAsync("Partial/HomeEducation.cshtml", @listEducation[i + 1])
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@* done *@
<section id="skills" class="section section-no-border background-color-light m-0">
    <div class="container">
        @{
            List<Skills> listSkill = new List<Skills>(ViewData["SkillInfo"] as List<Skills>);
        }
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-8 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Skills & Languages</h2>
                        <div class="progress-bars custom-progress-bars">
                            @for (int i = 0; i < listSkill.Count / 2; i++)
                            {
                                @await Html.PartialAsync("Partial/HomeSkill", listSkill[i])
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="progress-bars custom-progress-bars custom-md-margin-top-1">
                            @for (int i = listSkill.Count / 2; i < listSkill.Count; i++)
                            {
                                @await Html.PartialAsync("Partial/HomeSkill", listSkill[i])
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="row">
                    <div class="col">
                        <div class="custom-box-details background-color-light custom-box-shadow-1">
                            <h4 class="text-color-dark">Languages</h4>
                            <ul class="custom-list-style-1 p-0">
                                @foreach (var item in ViewData["LanguageInfo"] as List<Languages>)
                                {
                                    @await Html.PartialAsync("Partial/HomeLanguage", item)
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* done *@
<section id="portfolio" class="section section-no-border background-color-secondary m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">My projects</h2>
                <ul class="nav nav-pills sort-source custom-nav-sort mb-4" data-sort-id="portfolio" data-option-key="filter">
                    <li class="nav-item active" data-option-value="*"><a class="nav-link text-dark active" href="#">Show All</a></li>
                    @foreach (var item in ViewData["ProductType"] as List<Products>)
                    {
                        <li class="nav-item" data-option-value=".@item.Product_TypeID"><a class="nav-link text-dark" href="#">@item.ProductType</a></li>
                    }
                </ul>
                <div class="sort-destination-loader sort-destination-loader-showing">
                    <div class="row image-gallery sort-destination lightbox" data-sort-id="portfolio" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
                        @foreach (var item in ViewData["ProductInfo"] as List<Products>)
                        {
                            @await Html.PartialAsync("Partial/HomeProduct.cshtml", item)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* done *@
<section id="recommendations" class="section section-no-border background-color-primary m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">People Says</h2>
            </div>
            <div class="col-lg-12 p-0">
                <div class="owl-carousel custom-dots-style-1 custom-dots-color-1 custom-dots-position-1 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'loop': false, 'nav': false, 'dots': true}">
                    @foreach (var item in ViewData["RecommandationInfo"] as List<Recommendations>)
                    {
                        @await Html.PartialAsync("Partial/HomeRecommandation.cshtml", @item)
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@* done *@
<div id="say-hello" class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
            <section class="section section-no-border background-color-primary h-100 m-0">
                <div class="row justify-content-end m-0">
                    <div class="col-half-section col-half-section-right mr-3">
                        <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Contact</h2>
                        <form id="callSendMessage" class="custom-form-style" action="#" method="POST">
                            <div class="form-content">
                                <div class="form-control-custom">
                                    <input type="text" class="form-control" name="callName" placeholder="Your Name *" data-msg-required="This field is required." id="callName" required="" />
                                </div>
                                <div class="form-control-custom">
                                    <input type="text" class="form-control" name="callSubject" placeholder="Subject *" data-msg-required="This field is required." id="callSubject" required="" />
                                </div>
                                <div class="form-control-custom">
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" placeholder="Message*" id="message" required="" aria-required="true"></textarea>
                                </div>
                                <input type="submit" class="btn btn-quaternary text-color-light text-uppercase font-weight-semibold outline-none custom-btn-style-2 custom-border-radius-1" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 p-0">
            <section class="section section-no-border h-100 m-0" style="background: url(images/@information.CoverImage2Url); background-size: cover;">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-left ml-3">
                        <a href="mailto:you@domain.com" class="text-decoration-none">
                            <span class="feature-box custom-feature-box align-items-center mb-4">
                                <span class="custom-feature-box-icon">
                                    <i class="icon-envelope icons text-color-light"></i>
                                </span>
                                <span class="feature-box-info">
                                    <span class="custom-label font-weight-semibold text-uppercase custom-text-color-1">Email</span>
                                    <strong class="font-weight-light text-color-light custom-opacity-effect-1">@information.Email</strong>
                                </span>
                            </span>
                        </a>
                        <a href="tel:+1234657890" class="text-decoration-none">
                            <span class="feature-box custom-feature-box align-items-center mb-4">
                                <span class="custom-feature-box-icon">
                                    <i class="icon-phone icons text-color-light"></i>
                                </span>
                                <span class="feature-box-info">
                                    <span class="custom-label font-weight-semibold text-uppercase custom-text-color-1">Phone</span>
                                    <strong class="font-weight-light text-color-light custom-opacity-effect-1">@information.Phone</strong>
                                </span>
                            </span>
                        </a>
                        <a href="skype:yourskype?chat" class="text-decoration-none">
                            <span class="feature-box custom-feature-box align-items-center mb-4">
                                <span class="custom-feature-box-icon">
                                    <i class="icon-social-skype icons text-color-light"></i>
                                </span>
                                <span class="feature-box-info">
                                    <span class="custom-label font-weight-semibold text-uppercase custom-text-color-1">Skype</span>
                                    <strong class="font-weight-light text-color-light custom-opacity-effect-1">@information.Skype</strong>
                                </span>
                            </span>
                        </a>
                        <span class="feature-box custom-feature-box align-items-center">
                            <span class="custom-feature-box-icon">
                                <i class="icon-share icons text-color-light"></i>
                            </span>
                            <a href="http://www.facebook.com/banghi9x" class="d-flex text-decoration-none">
                                <span class="feature-box-info">
                                    <span class="custom-label font-weight-semibold text-uppercase custom-text-color-1">Follow me</span>
                                    <strong class="font-weight-light text-color-light custom-opacity-effect-1">Facebook</strong>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>