<div *ngIf="_options.fakeGridTitle" style="margin-left: 10px; margin-bottom: 10px;" class="visible-print-block row"><img
        src="assets/img/logo3.png" />
    <span style="font-size: 25px;font-weight: 600">{{_options.fakeGridTitle}}</span>
</div>
<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <a (click)="printData('pint grid')" class="btn btn-accent m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air highlight-button" *ngIf="printField">
            <span>
                <i class="la la-print"></i>
                <span>Skriv ut</span>
            </span>
        </a>
    </div>
    <div class="p-2">
        <a (click)="exportExcel($event)" class="btn btn-accent m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air highlight-button" *ngIf="showExport">
            <span>
                <i class="la la-file-excel-o"></i>
                <span>Eksport til Excel</span>
            </span>
        </a>
    </div>
</div>

<div class="crud-table"></div>