﻿@model My_CV.Service.Models.Languages

<li>
    <span class="font-weight-semibold custom-max-width-1 text-color-dark"><img src="img/blank.gif" class="flag flag-@Model.Flag mr-1  " alt="@Model.Language">@Model.Language:</span>
    <span class="custom-text-color-2">@Model.Description</span>
</li>