﻿@model My_CV.Service.Models.Recommendations

<div>
    <div class="col">
        <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
            <blockquote class="pb-2">
                <p class="custom-text-color-3">@Model.Description</p>
            </blockquote>
            <div class="testimonial-author float-left">
                <p><strong class="text-uppercase">@Model.Name</strong><span class="custom-text-color-3">@Model.Postion</span></p>
            </div>
        </div>
    </div>
</div>