﻿@model My_CV.Service.Models.Skills

<div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
    <span>@Model.SkillName</span>
</div>
<div class="progress mb-2">
    <div class="progress-bar" data-appear-progress-animation="@Model.Proficiency"></div>
</div>