﻿@model My_CV.Service.Models.Products

<div class="col-12 col-sm-6 col-lg-3 isotope-item @Model.Product_TypeID">
    <div class="image-gallery-item mb-4 pb-3">
        <a href="images/@Model.ImgUrl" class="lightbox-portfolio">
            <span class="thumb-info custom-thumb-info-1">
                <span class="thumb-info-wrapper">
                    <span class="thumb-info-plus"></span>
                    <img src="images/@Model.ImgUrl" class="img-fluid" alt="">
                </span>
            </span>
        </a>
    </div>
</div>