﻿@model My_CV.Service.Models.Experiences

<article class="timeline-box right custom-box-shadow-2">
    <div class="row">
        <div class="experience-info col-lg-3 col-sm-5 background-color-primary">
            <span class="from text-color-dark text-uppercase">
                From
                <span class="font-weight-semibold">@Model.DateToMonthAndYear(Model.DateFrom.ToString())</span>
            </span>
            <span class="to text-color-dark text-uppercase">
                To
                <span class="font-weight-semibold">@Model.DateToMonthAndYear(Model.DateTo.ToString())</span>
            </span>
            <p class="text-color-dark">@Model.DifferentBetweenDay()</p>
            <span class="company text-color-dark font-weight-semibold">
                @Model.Company
                <span class="company-location text-color-dark font-weight-normal text-uppercase">IN HO CHI MINH CITY</span>
            </span>
        </div>
        <div class="experience-description col-lg-9 col-sm-7 background-color-light">
            <h4 class="text-color-dark font-weight-semibold">@Model.Tittle</h4>
            <p class="custom-text-color-2">@Html.Raw(Model.Description)</p>
        </div>
    </div>
</article>