﻿@model My_CV.Service.Models.Educations

<div class="col-lg-6 col-sm-6 pb-4">
    <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
        <i class="icon-graduation icons text-color-primary"></i>
        <h4 class="font-weight-semibold text-color-dark m-0">@Model.Tittle</h4>
        <p class="custom-text-color-2 mb-1">@Model.Description</p>
        <strong class="text-color-primary">@Model.ToString()</strong>
    </div>
</div>