﻿@model My_CV.Service.Models.Information

<div class="custom-box-details background-color-light custom-box-shadow-1 col-lg-6 ml-5 mb-5 mb-lg-4 float-right clearfix">
    <h4>Personal Details</h4>
    <div class="row">
        <div class="col-md-6">
            <ul class="custom-list-style-1 p-0 mb-0">
                <li>
                    <span class="text-color-dark">Birthday:</span>
                    <span class="custom-text-color-2">@Model.Birthday</span>
                </li>
                <li>
                    <span class="text-color-dark">Marital:</span>
                    <span class="custom-text-color-2">@Model.Marital</span>
                </li>
                <li>
                    <span class="text-color-dark">Nationality:</span>
                    <span class="custom-text-color-2">@Model.Nationality</span>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="custom-list-style-1 p-0 mb-0">
                <li>
                    <span class="text-color-dark">Skype:</span>
                    <span class="custom-text-color-2"><a class="custom-text-color-2" href="skype:yourskype?chat">@Model.Skype</a></span>
                </li>
                <li>
                    <span class="text-color-dark">PHONE:</span>
                    <span class="custom-text-color-2"><a class="custom-text-color-2" href="tel:123456789">@Model.Phone</a></span>
                </li>
                <li>
                    <span class="text-color-dark">EMAIL:</span>
                    <span class="custom-text-color-2"><a class="custom-text-color-2" href="mailto:me@domain.com">@Model.Email</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">About Me</h2>

<p class="custom-text-color-2">@Html.Raw(Model.partOneOfDescription())</p>

<div class="about-me-more" id="aboutMeMore">
    @Html.Raw(Model.partTwoOfDescription())
</div>