<div class="m-content">
  <div class="row">
    <div class="col-md-12">

      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text" *ngIf="pageMode == 'Add'">
                Add new Experience
              </h3>
              <h3 class="m-portlet__head-text" *ngIf="pageMode == 'Edit'">
                Update Experience
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a (click)="deleteExperience()"
              class="btn btn-danger m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10" *ngIf="experience.id">
              <span>
                <i class="la la-remove"></i>
                <span>Delete</span>
              </span>
            </a>
            <a (click)="saveExperience()"
              class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-check"></i>
                <span>Save</span>
              </span>
            </a>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Company name</label>
                <input type="text" class="form-control m-input" [(ngModel)]="experience.company"
                  placeholder="Enter company name">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Position</label>
                <input type="text" class="form-control m-input" [(ngModel)]="experience.tittle"
                  placeholder="Enter your position">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Date from (yyyy-mm-dd)</label>
                <input type="text" class="form-control m-input" [(ngModel)]="experience.dateFrom"
                  placeholder="Enter date from">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Date to (yyyy-mm-dd)</label>
                <input type="text" class="form-control m-input" [(ngModel)]="experience.dateTo"
                  placeholder="Enter date to">
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <div class="row" style="margin-top: 10px">
              <ul class="nav nav-tabs" role="tablist" style="width: 100%;">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">Description</a>
                </li>
              </ul>
              <div class="tab-content" style="width: 100%;">
                <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
                  <div class="col-12">
                    <h6>Description:</h6>
                  </div>
                  <div class="col-12">
                    <div [froalaEditor]='editorOptions' [(froalaModel)]="experience.description"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--end::Portlet-->

    </div>
  </div>
</div>