<div class="m-content">
  <div class="row">
    <div class="col-md-12">

      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Information
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a (click)="saveInformation()"
              class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-check"></i>
                <span>Save</span>
              </span>
            </a>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.name"
                  placeholder="Enter your name">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Date of birth (Month dd, yyyy)</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.birthday"
                  placeholder="Enter your date of birth">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Skype</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.skype"
                  placeholder="Enter your Skype">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Marital</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.marital"
                  placeholder="Enter your Marital">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Phone</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.phone"
                  placeholder="Enter your number phone">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Nationality</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.nationality"
                  placeholder="Enter your nationality">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control m-input" [(ngModel)]="Information_new.email"
                  placeholder="Enter your email">
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <div class="row" style="margin-top: 10px">
              <ul class="nav nav-tabs" role="tablist" style="width: 100%;">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">About me</a>
                </li>
              </ul>
              <div class="tab-content" style="width: 100%;">
                <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
                  <div class="col-12">
                    <div [froalaEditor]='editorOptions' [(froalaModel)]="Information_new.aboutMe"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <div class="row">
              <div class="form-group m-form__group row-md-6">
                <h3>Avatar (718 x 982)</h3>
                <div class="row">
                  <img id="avatar_image" style="height: 250px;" [src]="Information_new.avatar"
                    onerror="this.src='/assets/img/file.png';" />
                </div>
                <div class="row">
                  <div class="col-12 align-middle upload-btn-wrapper">
                    <button id="btn-upload_avatar" class="btn-upload" type="button">Upload Avatar</button>
                    <input type='file' id="img_avatar" />
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row-md-6">
                <h3>Cover image 1 (1970 x 550)</h3>
                <div class="row">
                  <img id="cover1_image" style="height: 250px;" [src]="Information_new.cover1"
                    onerror="this.src='/assets/img/file.png';" />
                </div>
                <div class="row">
                  <div class="col-12 align-middle upload-btn-wrapper">
                    <button id="btn-upload_cover1" class="btn-upload" type="button">Upload Avatar</button>
                    <input type='file' id="img_cover1" />
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group row-md-6">
                <h3>Cover image 2 (dark background)</h3>
                <div class="row">
                  <img id="cover2_image" style="height: 250px;" [src]="Information_new.cover2"
                    onerror="this.src='/assets/img/file.png';" />
                </div>
                <div class="row">
                  <div class="col-12 align-middle upload-btn-wrapper">
                    <button id="btn-upload_cover2" class="btn-upload" type="button">Upload Avatar</button>
                    <input type='file' id="img_cover2" />
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--end::Portlet-->

    </div>
  </div>
</div>