<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

	<!-- BEGIN: Header -->
	<app-header></app-header>

	<!-- END: Header -->


	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<app-left-aside></app-left-aside>

		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<router-outlet></router-outlet>
		</div>
	</div>

	<!-- end:: Body -->

	<!-- begin::Footer -->
	<app-footer></app-footer>

	<!-- end::Footer -->
</div>

<!-- end:: Page -->
<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
	<i class="la la-arrow-up"></i>
</div>

<!-- end::Scroll Top -->