<h3 style="padding-top: 30px; padding-bottom: 20px;">{{title}}</h3>
<table class="table table-bordered">
    <tr>
        <th *ngFor="let prop of props"  [class]="classAppend(prop.field)" >{{prop.title}}</th>
    </tr>
    <tr *ngFor="let item of data">
        <td  style="max-width: 250px;word-break: break-all;" *ngFor="let prop of props">
            {{item[prop.field||prop.name]}}
        </td>
    </tr>
</table>