<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Language Managerment
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a (click)="addLanguage()" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-plus"></i>
                <span>Add new Language</span>
              </span>
            </a>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <ag-grid-angular style="width: 100%; height: 300px; margin-top: 10px;" class="ag-theme-balham" [enableSorting]="true" [enableFilter]="true"
              [enableColResize]="true" [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>