<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Danh Sách File
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <div class="row">
              <ng-container *ngFor="let item of fileList">
                <div class="col-md-2" style="border: solid 1px grey; padding: 10px;">
                  <img src="{{item}}" style="width: 100%; padding: 10px;" onerror="this.src='/assets/img/file.png';">
                  <p>{{item}}</p>
                  <button type="reset" class="btn m-btn--pill btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase"
                    style="margin-top: 10px;" (click)="deleteImage(item)">Delete</button>
                </div>
              </ng-container>
            </div>
            <div class="row">
              <button type="reset" class="btn m-btn--pill btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase"
                style="margin-top: 10px;" (click)="saveUpload()">Upload File</button>
            </div>
          </div>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>