<div class='top-content'>
  <div class='inner-bg'>
      <div class='container'>
          <div class='row'>
              <div class='col-sm-8 col-sm-offset-2 text'>
                  <!--<h1><strong>Bootstrap</strong> Login Form</h1>-->
                  <div class='description'>
                      <p>
                          <!--Can insert page description later-->
                      </p>
                  </div>
              </div>
          </div>
          <div class='row'>
              <div class='mx-auto form-box' style="padding-top: 100px;">
                  <div class='form-top' class="mx-auto">
                      <div class='form-top' style="background: #fff9f282;">
                          <img src='/assets/img/logo2.jpg' width='200' class="login-logo"/>
                      </div>
                  </div>
                  <div class='form-bottom' style="padding: 10px; background: rgba(37, 49, 37, 0.31);">
                      <form [disabledAll]='isDataLoading' role='form' action='' method='post' class='login-form'>
                          <div class='form-group'>
                              <label class='sr-only' for='form-username'>Username</label>
                              <input type='text' autofocus name='form-username' [(ngModel)]='loginData.userName' placeholder='User Name' class='form-username form-control' id='form-username'>
                          </div>
                          <div class='form-group'>
                              <label class='sr-only' for='form-password'>Password</label>
                              <input type='password' name='form-password' [(ngModel)]='loginData.password' placeholder='Password' class='form-password form-control' id='form-password'>
                          </div>
                          <button type='submit' (click)='onLogin()' class='btn btn-primary btn-block'>Login</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>