<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Change Password
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <div class="row">
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label">Current Password</label>
                    <div class="col-md-9">
                        <input type="password" [(ngModel)]="password.oldPass" class="form-control input-inline input-medium" placeholder="Enter text">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label">New Password</label>
                    <div class="col-md-9">
                        <input type="password" [(ngModel)]="password.newPass" class="form-control input-inline input-medium" placeholder="Enter text">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label">Confirm New Password</label>
                    <div class="col-md-9">
                        <input type="password" [(ngModel)]="password.confirmPass" class="form-control input-inline input-medium" placeholder="Enter text">
                    </div>
                </div>
            </div>
            <div class="row">
              <button type="reset" class="btn m-btn--pill btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase"
                style="margin-top: 10px;" (click)="changePassword()">Save</button>
            </div>
          </div>
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
