﻿<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>My CV - Huỳnh Bá Nghi</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <environment include="Development,Production">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/vendor/font-awesome/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/vendor/animate/animate.min.css">
        <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="~/css/theme.css">
        <link rel="stylesheet" href="~/css/theme-elements.css">
        <link rel="stylesheet" href="~/css/theme-blog.css">
        <link rel="stylesheet" href="~/css/theme-shop.css">

        <!-- Current Page CSS -->
        <link rel="stylesheet" href="~/vendor/rs-plugin/css/settings.css">
        <link rel="stylesheet" href="~/vendor/rs-plugin/css/layers.css">
        <link rel="stylesheet" href="~/vendor/rs-plugin/css/navigation.css">

        <!-- Demo CSS -->
        <link rel="stylesheet" href="~/css/demos/demo-resume.css">

        <!-- Skin CSS -->
        <link rel="stylesheet" href="~/css/skins/skin-resume.css">

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="~/css/custom.css">

        <!-- Head Libs -->
        <script src="~/vendor/modernizr/modernizr.min.js"></script>
    </environment>
    <environment exclude="Development,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>

<body>
    <div class="body">
        <header id="header" class="header-floating" data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 0, 'stickySetTop': '60px', 'stickyChangeLogo': false}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-nav pt-1">
                                    <div class="header-nav-main">
                                        <nav class="wrapper-spy collapse">
                                            <ul class="nav" id="mainNav">
                                                <li>
                                                    <a data-hash href="#about-me" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-home icons"></i>
                                                        <span class="custom-tooltip">About Me</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-hash href="#experience" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-eye icons"></i>
                                                        <span class="custom-tooltip">Experiences</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-hash href="#education" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-briefcase icons"></i>
                                                        <span class="custom-tooltip">Educations</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-hash href="#skills" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-graduation icons"></i>
                                                        <span class="custom-tooltip">Skills and Languages</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-hash href="#portfolio" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-diamond icons"></i>
                                                        <span class="custom-tooltip">My Projects</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-hash href="#recommendations" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-pencil icons"></i>
                                                        <span class="custom-tooltip">People says</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-hash href="#say-hello" class="nav-link text-color-dark background-color-primary">
                                                        <i class="icon-envelope-open icons"></i>
                                                        <span class="custom-tooltip">Contact</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

        <div role="main" class="main">
            @RenderBody()

            <footer id="footer" class="m-0 p-0">
                <div class="footer-copyright background-color-light m-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 m-0">
                                <p class="custom-text-color-2">© Copyright 2018. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <environment include="Development,Promotion">
            <!-- Vendor -->
            <script src="~/vendor/jquery/jquery.min.js"></script>
            <script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
            <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
            <script src="~/vendor/jquery-cookie/jquery-cookie.min.js"></script>
            <script src="~/vendor/popper/umd/popper.min.js"></script>
            <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/vendor/common/common.min.js"></script>
            <script src="~/vendor/jquery.validation/jquery.validation.min.js"></script>
            <script src="~/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
            <script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
            <script src="~/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
            <script src="~/vendor/isotope/jquery.isotope.min.js"></script>
            <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
            <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
            <script src="~/vendor/vide/vide.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="~/js/theme.js"></script>

            <!-- Current Page Vendor and Views -->
            <script src="~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
            <script src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

            <!-- Current Page Vendor and Views -->
            <script src="~/js/views/view.contact.js"></script>

            <!-- Demo -->
            <script src="~/js/demos/demo-resume.js"></script>

            <!-- Theme Custom -->
            <script src="~/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="~/js/theme.init.js"></script>
        </environment>
</body>
</html>