<div class="m-content">
  <div class="row">
    <div class="col-md-12">

      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text" *ngIf="pageMode == 'Add'">
                Add new Language
              </h3>
              <h3 class="m-portlet__head-text" *ngIf="pageMode == 'Edit'">
                Update Language
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <a (click)="deleteLanguage()"
              class="btn btn-danger m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10" *ngIf="language.id">
              <span>
                <i class="la la-remove"></i>
                <span>Delete</span>
              </span>
            </a>
            <a (click)="saveLanguage()"
              class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
              <span>
                <i class="la la-check"></i>
                <span>Save</span>
              </span>
            </a>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Language</label>
                <input type="text" class="form-control m-input" [(ngModel)]="language.language"
                  placeholder="Enter your language">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Level</label>
                <input type="text" class="form-control m-input" [(ngModel)]="language.description"
                  placeholder="Enter your level">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Short name of the country</label>
                <input type="text" class="form-control m-input" [(ngModel)]="language.flag"
                  placeholder="Enter short name of the country">
              </div>
            </div>
          </div>
          

        </div>
      </div>
      <!--end::Portlet-->

    </div>
  </div>
</div>