<div class='input-group input-daterange date'>
    <input type='text' class="form-control" class="form-control" />
    <div class="input-group-append">
        <span class="input-group-text">
            <i class="la la-calendar-check-o"></i>
        </span>
    </div>
</div>