<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
  data-menu-vertical="true" m-menu-scrollable="1" m-menu-dropdown-timeout="500">
  <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
    <ng-container *ngFor="let menuItem of menuList">
      <li class="m-menu__item " aria-haspopup="true" *ngIf="!menuItem.children">
        <a class="m-menu__link " [routerLink]="menuItem.path">
          <i class="m-menu__link-icon flaticon-suitcase"></i>
          <span class="m-menu__link-text">{{menuItem.name}}</span>
        </a>
      </li>

      <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" *ngIf="menuItem.children">
        <a class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-layers"></i>
          <span class="m-menu__link-text">{{menuItem.name}}</span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu ">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item" aria-haspopup="true" *ngFor="let menuItemchild of menuItem.children">
              <a class="m-menu__link " [routerLink]="menuItemchild.path">
                <i class="m-menu__link-icon flaticon-suitcase"></i>
                <span class="m-menu__link-text">{{menuItemchild.name}}</span>
              </a>
            </li>
            
          </ul>
        </div>
      </li>
    </ng-container>
  </ul>
</div>